.octo-complete-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100px;
  max-width: 180px;
  padding: 4px 8px;

  background: #fff;
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
  margin-top: 6px;
  z-index: 100;
}
