.octo-moji-menu {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100px;

  background: #fff;
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
  margin-top: 6px;
  z-index: 100;
  max-height: 292px;
  overflow-y: scroll;
}

.octo-moji-menu li {
  list-style: none;
  border-bottom: 1px #efefef solid;
  padding: 4px 6px;
  color: #888;
  cursor: pointer;
}

.octo-moji-menu li:hover,
.octo-moji-menu .is-active {
  background-color: #4F83C4;
  outline: none;
  color: #fff;
}

.octo-moji-menu img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}

.octo-moji-error {
  position: fixed;
  bottom: 0px;
  left: 0px;
  min-width: 200px;
  width: 30%;
  background-color: #BD2C00;
  color: #efefef;
  z-index: 100;
  padding: 6px;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
}
