.octo-complete-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100px;

  background: #fff;
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
  margin-top: 6px;
  z-index: 100;
}

.octo-complete-menu li {
  list-style: none;
  border-bottom: 1px #efefef solid;
  padding: 4px 6px;
  color: #666;
}

.octo-complete-menu img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}
